$mobile-breakpoint: 768px;

.container {
  position: relative;
  height: 300vh; /* Create enough scroll space for the effect */
  background-color: transparent;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  position: relative;
  width: 25vw;
  height: 25vh;
}

.image {
  object-fit: cover;
}

/* Position each image uniquely */
.el {
  &:nth-of-type(1) .imageContainer {
    /* Center image */
    @media (max-width: $mobile-breakpoint) {
    }
  }

  &:nth-of-type(2) .imageContainer {
    top: -30vh;
    left: 5vw;
    width: 35vw;
    height: 30vh;

    @media (max-width: $mobile-breakpoint) {
      top: -29vh;
      left: 10vw;
      width: 45vw;
      height: 30vh;
    }
  }

  &:nth-of-type(3) .imageContainer {
    top: -10vh;
    left: -25vw;
    width: 20vw;
    height: 45vh;

    @media (max-width: $mobile-breakpoint) {
      top: -5vh;
      left: -31vw;
      width: 31vw;
      height: 35vh;
    }
  }

  &:nth-of-type(4) .imageContainer {
    left: 27.5vw;
    width: 25vw;
    height: 25vh;

    @media (max-width: $mobile-breakpoint) {
      top: 2.5vh;
      left: 30.5vw;
      width: 30vw;
      height: 30vh;
    }
  }

  &:nth-of-type(5) .imageContainer {
    top: 27.5vh;
    left: 5vw;
    width: 20vw;
    height: 25vh;

    @media (max-width: $mobile-breakpoint) {
      top: 28vh;
      left: -2.5vw;
      width: 30vw;
      height: 28vh;
    }
  }

  &:nth-of-type(6) .imageContainer {
    top: 30vh;
    left: -22.5vw;
    width: 30vw;
    height: 30vh;

    @media (max-width: $mobile-breakpoint) {
      top: 21.5vh;
      left: -34vw;
      width: 27vw;
      height: 15vh;
    }
  }

  &:nth-of-type(7) .imageContainer {
    top: 25vh;
    left: 28vw;
    width: 20vw;
    height: 20vh;

    @media (max-width: $mobile-breakpoint) {
      top: 28vh;
      left: 29.5vw;
      width: 28vw;
      height: 18vh;
    }
  }
} 